body {
	font-family : tahoma;
	font-size : 14px;
}
* {
	padding : 0;
	margin : 0;
}
#content {
	position : relative;
	margin : auto;
	margin-top : 20px;
	width : 1000px;
	height : 745px;
}
#rules {
	position : absolute;
	left : 0px;
	width : 350px;
	top : 0px;
}
canvas {
	position : absolute;
	right : 0px;
	top : 0px;
	background : #eee;
	display : block;
	border : solid 10px #000;		
}
p {
	margin-bottom : 20px;
	color : #333;
	text-align : justify;
}
#nsc {
	position : absolute;
	bottom : 0px;
	right : 0px;
	width : 620px;
}
#score {
	float : right;
	text-align : left;
	font-weight : normal;
	font-size : 16px;
}
#sc {
	font-weight : bold;
	font-size : 20px;
}
input, label, button {
	margin-right : 10px;
	margin-top : 10px;
}

input[type=text] {
	width : 40px;
	padding : 1px;
	text-align : center;
}

#config {
	padding : 20px;
	border : solid 1px #333;
}

p.inf {
	font-style : italic;
	font-size : 11px;
	margin-top : 20px;
}

button {
	margin-top : 30px;
}

input.m {
	margin : 2px;
}